*{
    box-sizing: border-box;
}
body {
    font-size: 24px;
    line-height: 32px;;
    color:#333;
}
#fixed {
    background: #eee;
    position: fixed;
    padding: 40px;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
}
.wrapper {
    width: 600px;
    margin: 0 auto 0 auto;
    padding: 20px;
}
h1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}
#relative {
    background: #eee;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 200px;
}
#absolute {
    background: #999;
    width: 250px;
    position: absolute;
    padding: 20px;
    text-align: center;
    bottom: 0;
    right: -30px;
}