/*
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
body {
     background: url("../images/gaming-pattern.png");
}
p {
     font-family: 'Libre Baskerville', serif;
}
figure:hover {
     padding:.5em;
     border: .4em outset red;
     background-color: rgb(149, 6, 6);
}
figure:hover figcaption {
     color: white;
}

/* classes */
.navbar-img {
     margin: 0px!important;
     width: 70px;
     height: 70px;
}
/* Background theme classes */
.green-bg { background-color: rgba(126, 147, 88, 1);}
.grey-bg { background-color: rgba(122, 111, 97, 1);}
.eraser-bg {background-color: rgba(163, 138, 138, 1);}
.darkred-bg {background-color: rgb(82, 10, 1);}
.red-bg {background-color: rgb(128, 0, 0);}

/* IDS */
#about-image {
     max-width: 100%;
     height: auto;
}
#connect-drop {
     width: 90%;
     min-height: 175px;
}
/* Keep the container always below the navbar at any sizing */
@media screen and (max-width: 285px) {
     .container {
          padding-top: 40px;
     }
}
/* to readjust the LinkedIn Github and StackOverflow connect links in the navbar */
@media screen and (max-width: 400px) {
     .navbar-img {
          width: 100%;
          height: auto;
     }
}
/* MEDIA QUERIES Small devices (landscape phones, 576px and up) @media (min-width: 576px) {}
Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
     #about-image {
          max-width: 54%;
     }
     #connect-drop {
          width: 550px;
     }
     .connects {
          font-size: 1.2em;
     }
}
/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
     #about-image {
          max-width: 35%;
     }
}
/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {} */