// https://getbootstrap.com/docs/5.3/customize/color/#theme-colors
$primary: rgba(149, 0, 0, 0.9);
$secondary: rgba(200, 200, 200, 0.9);
$success: rgba(0, 133, 33, 0.9);
$info: rgba(25, 209, 233, 0.9);
$warning: rgba(206, 138, 13, 0.9);
$danger: rgba(207, 8, 8, 0.9);
$light: rgba(240, 240, 240, 0.9);
$dark: rgba(0, 0, 70, 0.95);

$enable-shadows: true;
$enable-gradients: true;

$card-cap-bg: $dark;
$card-cap-color: $light;

body {
  background: url("../images/gaming-pattern.png");
}
